{
    "layer": "top",
    "position": "top",
    "height": 30,
    "width": ,
    "spacing": 4
    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": ["sway/window"],
    "modules-right": ["idle_inhibitor", "pulseaudio", "network", "backlight", "keyboard-state", "sway/language", "battery", "clock", "tray"],
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        }
    },
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-muted": "婢",
        "format-icons": {
            "headphone": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["奔", "墳"]
        },
        "scroll-step": 1,
        "on-click": "pavucontrol"
    },
   "keyboard-state": {
        "numlock": true,
        "capslock": true,
        "format": "{name} {icon}",
        "format-icons": {
            "locked": "",
            "unlocked": ""
        }
    },
    "clock": {
        "interval": 60,
        "format": "{:%H:%M}",
        "max-length": 25
    },
    "backlight": {
        // "device": "acpi_video1",
        "format": "{percent}% {icon}",
        "format-icons": ["滛", "盛"]
    },
    "battery": {
        "format": "{capacity}% {icon}",
        "format-time": "{H} h {M} min",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-alt": "{time} {icon}",
        "format-icons": ["", "", "", "", ""]
    },
    "network": {
        "format-wifi": "{essid} ({signalStrength}%) 直",
        "format-ethernet": "{ipaddr}/{cidr} ",
        "tooltip-format": "{ifname} via {gwaddr} ﯱ",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "Disconnected ",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    }
}