{
    "layer": "bottom",
    "position": "top",
    "height": 30,
    "spacing": 4,
    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": ["sway/window"],
    "modules-right": ["tray", "idle_inhibitor", "sway/language", "pulseaudio", "backlight", "network", "battery", "custom/clock"],
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        }
    },
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-muted": "婢",
        "format-icons": {
            "headphone": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["奔", "墳"]
        },
        "scroll-step": 1,
        "on-click": "pavucontrol"
    },
    "custom/clock": {
        "interval": 60,
        "exec": "date +'%d %b %H:%M'"
    },
    "backlight": {
        "format": "{percent}% {icon}",
        "format-icons": ["滛", "盛"]
    },
    "battery": {
        "format": "{capacity}% {icon}",
        "format-time": "{H} h {M} min",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-alt": "{time} {icon}",
        "format-icons": ["", "", "", "", ""]
    },
    "network": {
        "format-wifi": "{essid} ({signalStrength}%) 直",
        "format-ethernet": "{ipaddr}/{cidr} ",
        "tooltip-format": "{ifname} via {gwaddr} ﯱ",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "Disconnected ",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    }
}